{{define "view/articlelist.html"}}
<!DOCTYPE html>

<head>
  {{template "headerJS" .}}
  <title>{{.list_title}} - 恐怖公社</title>
  <meta name="keywords" content="灵异经历,灵异事件,神秘力量,细思密恐,灵异聚集地">
  <meta name="description" content="灵异经历，灵异事件，神秘力量的聚集分享地">
</head>

<body>
  {{template "header" .}}
  <div class="container mt-2 mb-2">
    <div class="artli_bread mt-1">
      <span>您的位置</span><i class="fa fa-angle-right"></i>
      <a href="/">首页</a><i class="fa fa-angle-right"></i>
      <a href="/articlelist?id={{.list_id}}">{{.list_title}}</a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- 左面的col-8页面 -->
      <div class="col-md-8 col-12 pr-0 pl-0 ">

        <div class="artli_box artli_top">
          <div class="d-flex">
            <img class="d-none d-md-block" src="{{.list_img}}">
            <span class="artli_quote d-md-none"></span>
            <div class="m-auto">
              <h4 class="text-center co2"><i class="fa fa-bible mr-1"></i>{{.list_title}}</h4>
              <p>{{.list_descripe}}</p>
            </div>
          </div>
        </div>

        <div class="artli_new">
          <p>【{{.list_title}}】最新文章</p>
        </div>

        <div class="artli_list">

          <ul>
            {{range .DataList}}
            <li>
              <div class="c1">
                <div class="c2"></div>
                <a href="/article?id={{.id}}" target="_blank" rel="bookmark">
                  <h5>{{.title}}</h5>
                </a>
                <span class="c3">{{.content}}</span>
                <div class="c4">
                  <img src="{{.avater}}" height="16" width="16">
                  {{if .userid }}
                  <a href="/author?id={{.userid}}" class="mr-3" target="_blank">{{.nickname}}</a>
                  {{else}}
                  <a href="javascript:void(0);" class="mr-3" target="_blank">{{.nickname}}</a>
                  {{end}}
                  <span class="mr-3">{{.time}}</span>
                  <span class="mr-3 ml-auto"><i class="fa fa-eye"></i>&nbsp;{{.see}}</span>
                  <span><i class="fa fa-comment-dots"></i>&nbsp;{{.count}}</span>
                  <!-- <span class="ml-auto d-md-block d-none">分类：<a href="/articlelist?id={{.listid}}">{{.list}}</a></span> -->
                </div>
              </div>
            </li>
            {{end}}
          </ul>
          <div class="ht-page pb-4 pt-3"></div>
        </div>

      </div>
      <!-- 左面的col-8页面 -->
      <div class="col-md-4 col-12 view_r">

        <!-- 广告 -->
        <div class="ab_box">
          <a id="ab_link">
            <img class="w-100" id="ab_img" src="https://s2.ax1x.com/2019/10/16/KFH34g.png">
          </a>

          <ul class="ab_ul">
            <li class="col-3 current"></li>
            <li class="col-3"></li>
            <li class="col-3"></li>
            <li class="col-3"></li>
          </ul>
        </div>

        <!-- 右面最新评论 -->
        <div class="box_right mt-2" id="comm_laster"></div>

        <!-- 二维码 -->
        <div class="box_right mt-2 mb-2">
          <img class="col" src="https://s2.ax1x.com/2019/10/15/KP1mh8.jpg">
        </div>

      </div>
    </div>
  </div>

  <input type="hidden" id="artlist_data" data-listid="{{.list_id }}" data-getpage="{{.GetPage }}"
    data-totalrecord="{{.TotalRecord }}" data-numpage="{{.NumPage }}" />

  {{template "footer" .}}


  <script>
    function AsyncSuccess() {
      ArticleListJs.ad();
      ArticleListJs.init();
    }
  </script>
</body>

</html>
{{end}}