{{define "view/index.html"}}
<!DOCTYPE html>

<head>
    {{template "headerJS" .}}
    <title>恐怖公社 - 灵异经历，灵异事件，神秘力量的聚集分享地</title>
    <meta name="keywords" content="灵异经历，灵异事件，神秘力量的聚集分享地">
    <meta name="description" content="灵异经历，灵异事件，神秘力量的聚集分享地">
</head>

<body>

    {{template "header" .}}

    <div class="container">
        <div class="row">

            <div class="col-md-8 col-12 mt-2 pr-0 pl-0 ">
                <div class="in_top_box row">
                    <div class="col-md-6 col-12 in_top_l">
                        <p><i class="fa fa-bullhorn"></i>浏览最多 | 官方公众号：全球恐怖精选视频</p>
                        <ul>
                            {{range $k, $v := .HotList}}
                            <li>
                                {{if eq $k 0}}
                                <i class="co6">{{ AddOne $k 1}}</i>
                                {{else if eq $k 1}}
                                <i class="co7">{{ AddOne $k 1}}</i>
                                {{else if eq $k 2}}
                                <i class="co8">{{ AddOne $k 1}}</i>
                                {{else}}
                                <i>{{ AddOne $k 1}}</i>
                                {{end}}
                                <a target="_blank" href="/article?id={{.id}}">{{.title}}</a>
                            </li>
                            {{end}}
                        </ul>
                    </div>

                    <div class="col-md-6 col-12 in_top_r">
                        <p><i class="fa fa-thumbs-up"></i>赞数最多</p>
                        <ul>
                            {{range .UpList}}
                            <li><i class="fa fa-thumbs-up"></i>{{.up}}<a target="_blank"
                                    href="/article?id={{.id}}">{{.title}}</a>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

                <div class="in_mid_nav row">
                    <div class="col-3 col-md-2 text-center current" data-intent="#con_new">
                        <span><i class="fa fa-ghost mr-1"></i>最新</span>
                    </div>
                    <div class="col-3 col-md-2 text-center" data-intent="#con_zan">
                        <span><i class="fa fa-hand-holding-heart mr-1"></i>推荐</span>
                    </div>
                    <div class="col-3 col-md-2 text-center" data-intent="#con_click">
                        <span id="qh_click"><i class="fa fa-hand-point-right mr-1"></i>点击</span>
                    </div>
                    <div class="col-3 col-md-2 text-center" data-intent="#con_comm">
                        <span><i class="fa fa-comment-dots mr-1"></i>评论</span>
                    </div>
                    <div class="col-3 col-md-2 d-md-block d-none text-center" data-intent="#con_rand">
                        <span><i class="fa fa-cannabis mr-1"></i>随机</span>
                    </div>
                    <div class="col-3 col-md-2 d-md-block d-none text-center" data-intent="#con_more">
                        <span><i class="fa fa-plus-square mr-1"></i>更多</span>
                    </div>
                </div>


                <div class="in_list">


                    <ul id="con_new">
                        {{range .Newlist}}
                        <li>
                            <div class="c1">
                                <div class="c2"></div>
                                <a href="/article?id={{.id}}" target="_blank" rel="bookmark">
                                    <h5>{{.title}}</h5>
                                </a>
                                <span class="c3">{{.content}}</span>
                                <div class="c4">
                                    <img src="{{.avater}}" height="16" width="16">
                                    {{if .userid }}
                                    <a href="/author?id={{.userid}}" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{else}}
                                    <a href="javascript:void(0);" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{end}}
                                    <span class="mr-3">{{.time}}</span>
                                    <span class="mr-3"><i class="fa fa-eye"></i>&nbsp;{{.visit}}</span>
                                    <span class="mr-2"><i class="fa fa-comment-dots"></i>&nbsp;{{.TotalComment}}</span>
                                    <span class="ml-auto d-md-block d-none">分类：<a
                                            href="/articlelist?id={{.listid}}">{{.list}}</a></span>
                                </div>
                            </div>
                        </li>
                        {{end}}
                    </ul>



                    <ul id="con_zan" style="display: none">
                        {{range .Zanlist}}
                        <li>
                            <div class="c1">
                                <div class="c2"></div>
                                <a href="/article?id={{.id}}" target="_blank" rel="bookmark">
                                    <h5>{{.title}}</h5>
                                </a>
                                <span class="c3">{{.content}}</span>
                                <div class="c4">
                                    <img src="{{.avater}}" height="16" width="16">
                                    {{if .userid }}
                                    <a href="/author?id={{.userid}}" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{else}}
                                    <a href="javascript:void(0);" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{end}}
                                    <span class="mr-3">{{.time}}</span>
                                    <span class="mr-3"><i class="fa fa-eye"></i>&nbsp;{{.visit}}</span>
                                    <span><i class="fa fa-comment-dots"></i>&nbsp;{{.TotalComment}}</span>
                                    <span class="ml-auto d-md-block d-none">分类：<a
                                            href="/articlelist?id={{.listid}}">{{.list}}</a></span>
                                </div>
                            </div>
                        </li>
                        {{end}}
                    </ul>


                    <ul id="con_click" style="display: none">
                        {{range .Clicklist}}
                        <li>
                            <div class="c1">
                                <div class="c2"></div>
                                <a href="/article?id={{.id}}" target="_blank" rel="bookmark">
                                    <h5>{{.title}}</h5>
                                </a>
                                <span class="c3">{{.content}}</span>
                                <div class="c4">
                                    <img src="{{.avater}}" height="16" width="16">
                                    {{if .userid }}
                                    <a href="/author?id={{.userid}}" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{else}}
                                    <a href="javascript:void(0);" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{end}}
                                    <span class="mr-3">{{.time}}</span>
                                    <span class="mr-3"><i class="fa fa-eye"></i>&nbsp;{{.visit}}</span>
                                    <span><i class="fa fa-comment-dots"></i>&nbsp;{{.TotalComment}}</span>
                                    <span class="ml-auto d-md-block d-none">分类：<a
                                            href="/articlelist?id={{.listid}}">{{.list}}</a></span>
                                </div>
                            </div>
                        </li>
                        {{end}}
                    </ul>



                    <ul id="con_comm" style="display: none">
                        {{range .Commlist}}
                        <li>
                            <div class="c1">
                                <div class="c2"></div>
                                <a href="/article?id={{.id}}" target="_blank" rel="bookmark">
                                    <h5>{{.title}}</h5>
                                </a>
                                <span class="c3">{{.content}}</span>
                                <div class="c4">
                                    <img src="{{.avater}}" height="16" width="16">
                                    {{if .userid }}
                                    <a href="/author?id={{.userid}}" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{else}}
                                    <a href="javascript:void(0);" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{end}}
                                    <span class="mr-3">{{.time}}</span>
                                    <span class="mr-3"><i class="fa fa-eye"></i>&nbsp;{{.visit}}</span>
                                    <span><i class="fa fa-comment-dots"></i>&nbsp;{{.TotalComment}}</span>
                                    <span class="ml-auto d-md-block d-none">分类：<a
                                            href="/articlelist?id={{.listid}}">{{.list}}</a></span>
                                </div>
                            </div>
                        </li>
                        {{end}}
                    </ul>




                    <ul id="con_rand" style="display: none">
                        {{range .Randlist}}
                        <li>
                            <div class="c1">
                                <div class="c2"></div>
                                <a href="/article?id={{.id}}" target="_blank" rel="bookmark">
                                    <h5>{{.title}}</h5>
                                </a>
                                <span class="c3">{{.content}}</span>
                                <div class="c4">
                                    <img src="{{.avater}}" height="16" width="16">
                                    {{if .userid }}
                                    <a href="/author?id={{.userid}}" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{else}}
                                    <a href="javascript:void(0);" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{end}}
                                    <span class="mr-3">{{.time}}</span>
                                    <span class="mr-3"><i class="fa fa-eye"></i>&nbsp;{{.visit}}</span>
                                    <span><i class="fa fa-comment-dots"></i>&nbsp;{{.TotalComment}}</span>
                                    <span class="ml-auto d-md-block d-none">分类：<a
                                            href="/articlelist?id={{.listid}}">{{.list}}</a></span>
                                </div>
                            </div>
                        </li>
                        {{end}}
                    </ul>


                    <ul id="con_more" style="display: none">
                        {{range .Morelist}}
                        <li>
                            <div class="c1">
                                <div class="c2"></div>
                                <a href="/article?id={{.id}}" target="_blank" rel="bookmark">
                                    <h5>{{.title}}</h5>
                                </a>
                                <span class="c3">{{.content}}</span>
                                <div class="c4">
                                    <img src="{{.avater}}" height="16" width="16">
                                    {{if .userid }}
                                    <a href="/author?id={{.userid}}" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{else}}
                                    <a href="javascript:void(0);" class="mr-3" target="_blank">{{.nickname}}</a>
                                    {{end}}
                                    <span class="mr-3">{{.time}}</span>
                                    <span class="mr-3"><i class="fa fa-eye"></i>&nbsp;{{.visit}}</span>
                                    <span><i class="fa fa-comment-dots"></i>&nbsp;{{.TotalComment}}</span>
                                    <span class="ml-auto d-md-block d-none">分类：<a
                                            href="/articlelist?id={{.listid}}">{{.list}}</a></span>
                                </div>
                            </div>
                        </li>
                        {{end}}
                    </ul>

                </div>

                <button type="button" class="btn btn-danger btn-block mb-3" id="in_more">查看更多最新文章</button>

            </div>

            <div class="col-md-4 col-12 mt-2 view_r">
                <!-- <div class="row"> -->
                <!-- 和左面的间隔 -->
                <!-- <span class="mid_jiange d-md-block d-none"></span> -->
                <!-- 右面页面 -->
                <!-- <div class="col pl-0 pr-0"> -->
                <!-- 未登录 -->
                <div id="login_view" class="box_right col pt-3 pb-3">
                    <form id="index_login_Form" onsubmit="return IndexJs.loginForm();">
                        <div class="row ml-0 mr-0 log_v">
                            <p class="mr-3"><i class="fa fa-arrow-alt-circle-left co3 mr-1"></i>会员登录</p>
                            <a href="/user/forgot.html"><i class="fa fa-cogs co3 mr-1"></i><span>忘记密码</span></a>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="用户名" id="username" name="username">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-keyboard"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="密码" id="password" name="password">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-fingerprint"></i></span>
                            </div>
                            <input type="text" id="verifycode" class="form-control mr-3" placeholder="验证码"
                                name="verifycode">
                            <img id="verifyimg" width="100px" height="38px" />
                        </div>


                        <div class="row m-auto">
                            <button type="submit" class="btn btn-primary btn-sm col mr-1 btn-danger">登录</button>
                            <button type="button" class="btn btn-primary btn-sm col ml-1 btn-danger"
                                id="signup">注册</button>
                        </div>
                        <input id="usertext" name="usertext" type="hidden">
                        <input id="passtext" name="passtext" type="hidden">
                        <input id="verifyid" name="verifyid" type="hidden">
                    </form>
                </div>


                <!-- 已登录 -->
                <div id="user_view" class="box_right card usr_info" style="display: none">

                    <div class="usr_des">
                        <a href="/user/login.html"><img id="user_avater" class="usr_av_index"></a>
                        <div class="usr_name"><a href="/user/login.html"><span id="user_nickname"></span></a>
                            <!-- <nobr><button type="button" class="btn  btn-sm btn-outline-danger">后台</button></nobr> -->
                        </div><strong class="usr_span">简介：</strong>
                        <span class="usr_span" id="usr_desc"></span>
                    </div>

                    <div id="usr_show" class="usr_show">

                        <div class="col-6">
                            <span>等级：<span id="usr_level" class="badge badge-secondary">LV.0</span></span>
                        </div>

                        <div class="col-6">
                            <span data-toggle="tooltip" data-original-title="发布通过审核的文章，投票，评论，点赞文章，每篇文章每天都可获取一次经验"
                                data-placement="top">经验：<span id="usr_ex">0</span></span>
                        </div>

                        <div class="col-6 mt-2">
                            <span>荣誉：
                                <img class="usr_gray" id="usr_rongyu" src="https://s2.ax1x.com/2019/10/06/ug2aQg.jpg"
                                    height="23px" data-toggle="tooltip"
                                    data-original-title="发布审核通过10篇文章可成为优秀社员，拥有此徽章可投票审核文章" data-placement="top" />
                            </span>
                        </div>
                        <div class="col-6 mt-2">
                            <span>社龄：<span id="usr_year"></span></span>
                        </div>

                    </div>
                </div>


                <!-- 右面最新评论 -->
                <div class="box_right mt-2" id="comm_laster"></div>

                <!-- 右面二维码 -->
                <div class="box_right mt-2 mb-2">
                    <img class="col" src="https://s2.ax1x.com/2019/10/15/KP1mh8.jpg">
                </div>
                <!-- </div> -->


                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- 底部 -->

    {{template "footer" .}}


    <script>
        function AsyncSuccess() {
            IndexJs.loginCheck();
            IndexJs.init();
        }
    </script>



</body>

</html>
{{end}}