{{define "view/vote.html"}}
<!DOCTYPE html>

<head>
  <meta name="robots" content="noindex, nofollow">
  {{template "headerJS" .}}
  <title>{{.article_title}} - 恐怖公社</title>
  <meta name="keywords" content="灵异经历,灵异事件,神秘力量,细思密恐,灵异聚集地">
  <meta name="description" content="灵异经历，灵异事件，神秘力量的聚集分享地">
  <script src="https://cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
</head>

<body>
  {{template "header" .}}
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 p-0">
        <div id="user_view" class="box_right col pt-3 pb-3 mt-2">
          <div class="vot_jum">
            <span>
              <strong>投票审文说明：</strong><br>
              1、会员在投票过程中，当同意超过30票，文章通过审核，若反对票超过30，则审核不通过<br>
              2、只有优秀社员有投票资格（<a href="/" class="text-danger">发布并审核通过10篇文章即可获得优秀称号！</a>）；<br>
              3、若同意或反对票皆不超过10，交由小编审核；<br>
              4、若明知是色情或广告帖子故意投票同意，撤销投票同意的优秀会员资格；<br>
            </span>
          </div>
        </div>
        <div class="box_right mt-2 mb-2 d-none d-md-block">
          <img class="col" src="https://s2.ax1x.com/2019/10/15/KP1mh8.jpg">
        </div>
      </div>

      <div class="col-md-8 col-12 mt-2 view_r">
        <div class="vot_box">

          <img class="vot_shenhe" id="vot_shenhe" />

          <div class="vot_bread mt-1">
            <span>您的位置</span><i class="fa fa-angle-right"></i>
            <a href="/">首页</a><i class="fa fa-angle-right"></i>
            <a href="/votelist">投票审文</a>
          </div>
          <h4 class="mt-4 text-center"><strong>{{.article_title}}</strong></h4>
          <div class="vot_info">
            <span class="art_nickname mr-3" class="mr-3"><i class="fa fa-ghost"></i>&nbsp;<a
                href="/author?id={{.user_id}}">{{.user_nickname}}</a></span>
            <span class="mr-3"><i class="fa fa-clock"></i>&nbsp;{{.article_time}}</span>
            <span class="mr-3"><i class="fa fa-eye"></i>&nbsp;{{.article_visit}}</span>
            <span class="mr-2"><i class="fa fa-comment-dots"></i>&nbsp;<span id="vot_count">0</span></span>
            <span class="ml-auto d-md-block d-none">分类：{{.list_title}}</span>
          </div>

          <div class="vot_content">
            {{.article_content}}
          </div>
          <p class="text-center" style="color:#be1e2d;">文章阅读完毕，请投出你手中的神圣一票!</p>
          <div class="text-center">
            <button type="button" id="tongBth" class="col-md-3 col-4 btn btn-outline-success">
              <i class="fa fa-thumbs-up"></i> <span id="tongtv">0</span>同意</button>
            <img src="/static/image/vss.png" />
            <button type="button" id="fanBth" class="col-md-3 col-4 btn btn-outline-danger">
              <i class="fa fa-thumbs-down"></i> <span id="fantv">0</span>反对</button>
          </div>

          <!-- 模态框 -->
          <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <form id="vot_art">
                  <input type="hidden" name="articleid" value="{{.article_id}}" />
                  <input type="hidden" name="vote_type" id="vote_type" />
                  <!-- 模态框头部 -->
                  <div class="modal-header">
                    <h4 class="modal-title">同意或反对的理由</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- 模态框主体 -->
                  <div class="modal-body">
                    <!-- 模态框内容.. -->
                    <textarea class="vot_mod_con form-control" name="vote_content"
                      placeholder="请输入投票（同意/反对）的原因"></textarea>
                  </div>
                  <!-- 模态框底部 -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="sendvot">投票</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- 模态框 -->
        </div>


        <!-- fade show  -->
        <div class="alert alert-success m-0" style="display:none;">
          <strong>投票成功！</strong> 指定操作成功提示信息。
        </div>

        <div class="alert alert-danger m-0" style="display:none;">
          <strong>操作失败，请重试！</strong> 失败的操作
        </div>


        <div class="vot_talk">
          <div id="hot_view">
            <div class="vot_count">
              <strong>最热投票</strong><span>（有 <em class="vote_visit">{{.article_visit }}</em> 人参加, 热门 <em
                  id="vot_hotnum"></em> 条）</span>
            </div>

            <ul id="hot_vot">
              <li v-for="item in items">
                <div>
                  <div class="row m-0">
                    <a target="_blank" href="javascript:void(0);">
                      <img class="rounded-circle" width="40" v-bind:src="[item.avater]">
                    </a>
                    <div class="col ">
                      <span class="vot_nick">[[item.nickname]]</span>
                      <span class="ma windows"></span>
                      <div class="vot_msg w-100">
                        <template v-if="item.ex <= 10">
                          <span class="badge badge-secondary">LV.0</span>
                        </template>
                        <template v-else-if="item.ex <= 20">
                          <span class="badge badge-dark">LV.1</span>
                        </template>
                        <template v-else-if="item.ex <= 40">
                          <span class="badge badge-primary">LV.2</span>
                        </template>
                        <template v-else-if="item.ex <= 70">
                          <span class="badge badge-success">LV.3</span>
                        </template>
                        <template v-else-if="item.ex <= 130">
                          <span class="badge badge-info">LV.4</span>
                        </template>
                        <template v-else-if="item.ex <= 260">
                          <span class="badge badge-warning">LV.5</span>
                        </template>
                        <template v-else-if="item.ex > 260">
                          <span class="badge badge-danger">LV.6</span>
                        </template>
                        <template v-else>
                          <span class="badge badge-secondary">LV.0</span>
                        </template>
                        <span>[[item.time]]</span>
                      </div>
                    </div>
                    <div>
                      <span class="vot_zan" v-bind:data-id="[[item.id]]"><i class="fa fa-thumbs-up"></i>&nbsp;<span
                          id="vot_zan_v">[[item.zan]]</span></span>
                      <span class="vot_reply mr-1 text-success" v-if="item.type == '同意'">[[item.type]]</span>
                      <span class="vot_reply mr-1 text-danger" v-else>[[item.type]]</span>
                      <br>
                    </div>
                  </div>

                  <div class="vot_tv">[[item.content]]</div>
                </div>
              </li>

            </ul>

          </div>

          <div class="vot_count">
            <strong>最新投票</strong><span>（有 <em class="vote_visit">{{.article_visit }}</em> 人参加, 投票 <em id="vot_num"></em>
              条）</span>
          </div>

          <ul id="vot_v">
            <li v-for="item in items">
              <div>
                <div class="row m-0">
                  <a target="_blank" href="javascript:void(0);">
                    <img class="rounded-circle" width="40" v-bind:src="[item.avater]">
                  </a>
                  <div class="col ">
                    <span class="vot_nick">[[item.nickname]]</span>
                    <span v-bind:class="item.machine"></span>
                    <div class="vot_msg w-100">
                      <template v-if="item.ex <= 10">
                        <span class="badge badge-secondary">LV.0</span>
                      </template>
                      <template v-else-if="item.ex <= 20">
                        <span class="badge badge-dark">LV.1</span>
                      </template>
                      <template v-else-if="item.ex <= 40">
                        <span class="badge badge-primary">LV.2</span>
                      </template>
                      <template v-else-if="item.ex <= 70">
                        <span class="badge badge-success">LV.3</span>
                      </template>
                      <template v-else-if="item.ex <= 130">
                        <span class="badge badge-info">LV.4</span>
                      </template>
                      <template v-else-if="item.ex <= 260">
                        <span class="badge badge-warning">LV.5</span>
                      </template>
                      <template v-else-if="item.ex > 260">
                        <span class="badge badge-danger">LV.6</span>
                      </template>
                      <template v-else>
                        <span class="badge badge-secondary">LV.0</span>
                      </template>
                      <span>[[item.time]]</span>
                    </div>
                  </div>
                  <div>
                    <span class="vot_zan" v-bind:data-id="[[item.id]]"><i class="fa fa-thumbs-up"></i>&nbsp;<span
                        id="vot_zan_v">[[item.zan]]</span></span>
                    <span class="vot_reply mr-1 text-success" v-if="item.type == '同意'">[[item.type]]</span>
                    <span class="vot_reply mr-1 text-danger" v-else>[[item.type]]</span>
                    <br>
                  </div>
                </div>

                <div class="vot_tv">[[item.content]]</div>
              </div>
            </li>

          </ul>
        </div>

        <div class="ht-page vot_page"></div>

      </div>
    </div>
  </div>

  <input type="hidden" data-state="{{.article_state}}" data-artid="{{.article_id}}" id="vot_data" />

  <!-- 底部 -->
  {{template "footer" .}}


  <script>
    function AsyncSuccess() {
      VoteJs.init();
      VoteJs.talk();
    }
  </script>


</body>

</html>
{{end}}