{{define "headerJS"}}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- <link rel="stylesheet" href="https://cdn.staticfile.org/nprogress/0.2.0/nprogress.min.css" />
<script src="https://cdn.staticfile.org/nprogress/0.2.0/nprogress.min.js"></script> -->

<link rel="stylesheet" id="bootstrapcss"
    href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" id="csscss" href="/static/styles/css.min.css" />
<link rel="stylesheet" id="fontcss" href="https://cdn.staticfile.org/font-awesome/5.11.2/css/all.min.css" media="none"
    onload="this.media='all'" />
<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
<script>
    if (typeof jQuery == 'undefined') {
        document.write('<script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js"><\/script>');
    } 
</script>

<!-- <script>
    NProgress.start()
    NProgress.inc(0.4);
</script> -->
{{end}}