{{define "admin/addarticle.html"}}
<ol class="breadcrumb_view bg-white w-100 rounded-0 shadowbox">
  <li class="breadcrumb-item"><a href="/">主页</a></li>
  <li class="breadcrumb-item"><a href="#">数据操作</a></li>
  <li class="breadcrumb-item active">增加文章</li>
</ol>

<form onsubmit="return AddArticleJs.checkForm();" id="form">
  <div class="container-fluid">
    <div class="w-100">
      <div class="form-group">
        <label class="control-label">文章标题</label>
        <input class="form-control" name="title" id="title" placeholder="请填入文章标题" type="text">
      </div>
      <div class="form-group">
        <label class="control-label">分类栏目</label>
        <select name="listid" class="form-control" id="listid">
          {{range .ArticleList}}
          <option value="{{.list_id}}">{{.list_title}}</option>
          {{end}}
        </select>
      </div>
      <label class="control-label">文章内容</label>
      <textarea id="mytextarea"></textarea>
      <div class="mt-3 mb-3 w-100 m-0 ">
        <button type="submit" class="fabu btn btn-success float-right d-none d-sm-block  mb-2">提交审核</button>
        <button type="submit" class="draft btn btn_caogao float-right d-none d-sm-block mr-3  mb-2">保存草稿</button>
        <button type="submit" class="draft btn btn_caogao col-12 d-sm-none mb-3">保存草稿</button>
        <button type="submit" class="fabu btn btn-success col-12 d-sm-none mb-2">提交审核</button>
      </div>
    </div>
  </div>
  <input type="hidden" name="state" id="state">
  <input type="hidden" name="con" id="con">
</form>


<script>
  AddArticleJs.init();
</script>

{{end}}