{{define "admin/excommlist.html"}}

<ol class="breadcrumb_view">
    <li class="breadcrumb-item"><a href="/">主页</a></li>
    <li class="breadcrumb-item"><a href="#">个人统计</a></li>
    <li class="breadcrumb-item active">评论审核</li>
</ol>

<div class="card">
    <div class="card-body">
        <div class="datatb table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            <nobr>评论内容</nobr>
                        </th>
                        <th>
                            <nobr>评论文章</nobr>
                        </th>
                        <th>
                            <nobr>日期</nobr>
                        </th>
                        <th>
                            <nobr>操作</nobr>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="c1">
                        <td colspan="100">没有找到匹配的记录</td>
                    </tr>
                    {{range .CommList}}
                    <tr>
                        <td>
                            <a target="_blank" rel="noopener norefferrer" href="/article?id={{.article_id}}">
                                <strong>{{.content}}</strong>
                            </a>
                        </td>
                        <td>
                            <nobr>{{.article_title}}</nobr>
                        </td>
                        <td>
                            <nobr>{{.time}}</nobr>
                        </td>
                        <td>
                            <nobr><a class="c2 bco excommlist_del" data-val="{{.id}}" href="javascript:void(0);"
                                    target="_blank" rel="noopener norefferrer">删除</a></nobr>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <div class="ht-page"></div>

    </div>

</div>

<input type="hidden" id="datalist" data-getpage="{{.GetPage }}" data-totalrecord="{{.TotalRecord }}"
    data-numpage="{{.NumPage }}" />
<script>
    ExCommListJs.init();
</script>

{{end}}