{{define "admin/focuslist.html"}}

<ol class="breadcrumb_view">
    <li class="breadcrumb-item"><a href="/">主页</a></li>
    <li class="breadcrumb-item"><a href="#">个人统计</a></li>
    <li class="breadcrumb-item active">关注列表</li>
</ol>




<div class="card">
    <div class="card-body">
        <div class="datatb table-responsive">
            <table class="datalist_tb table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            <nobr>你关注的用户</nobr>
                        </th>
                        <th>
                            <nobr>操作</nobr>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="c1">
                        <td colspan="100">没有找到匹配的记录</td>
                    </tr>
                    {{range .FocusList}}
                    <tr>
                        <td>
                            <a target="_blank" rel="noopener norefferrer" href="/author?id={{.userid}}">
                                <img src="{{.avater}}" class="mr-1" width="50" />
                                <strong>{{.nickname}}</strong>
                            </a>
                        </td>

                        <td>
                            <nobr>
                                <a class="foclist_ck c2 bco" data-id="{{.id}}" href="javascript:void(0);">取消关注</a>
                            </nobr>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <div class="ht-page"></div>

    </div>

    <!-- <div class="ht-page pb-3 m-auto"></div> -->
</div>

<input type="hidden" id="datalist" data-getpage="{{.GetPage }}" data-totalrecord="{{.TotalRecord }}"
    data-numpage="{{.NumPage }}" />
<script>
    FocusListJs.init();
</script>


{{end}}