{{define "error/404.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <title>不存在的异空间 - 恐怖公社</title>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <title>Home</title>
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
   <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
   </script>
   <link href="https://cdn.staticfile.org/font-awesome/5.10.0-12/css/all.min.css" rel="stylesheet" type="text/css">
   <link href="/static/styles/404.min.css" rel='stylesheet' type='text/css'>
   <link href="http://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
   <link href="http://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
</head>

<body>
   <h1 class="error">kongbu666.com</h1>
   <div class="top-w3ls">
      <h2>404</h2>
      <h3>OH..! 这个网址不存在</h3>
      <nav class="border-line">
         <ul class="nav flex-column">
            <li class="nav-item active">
               <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link ">About</a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">Error</a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">Contact</a>
            </li>
         </ul>
      </nav>
   </div>
   <div class="copyright">
      <div class="icons">
         <ul>
            <li>
               <a href="#">
                  <span class="fab fa-facebook-f"></span>
               </a>
            </li>
            <li>
               <a href="#">
                  <span class="fab fa-google-plus-g"></span>
               </a>
            </li>
            <li>
               <a href="#">
                  <span class="fab fa-twitter"></span>
               </a>
            </li>
            <li>
               <a href="#">
                  <span class="fab fa-pinterest-p">
                  </span></i>
               </a>
            </li>
         </ul>
      </div>
      <p>Copyright &copy; 2019.Company name All rights reserved.More <a href="/" target="_blank" title="恐怖公社">恐怖公社</a>
      </p>
   </div>
</body>

</html>
{{end}}