{{define "admin/forgot.html"}}
<!DOCTYPE html>
<html>

<head>
	<meta name="robots" content="noindex, nofollow">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>忘记密码 - 恐怖公社</title>
	{{template "AdminHeaderJs" .}}
	<script>

		SetJs(domArr, $("#cryptojs").attr("src"), function () {
			SetJs(domArr2, $("#loginjs").attr("src"))
		})

		// SetJs(domArr, function () {
		// 	SetJs(domArr2)
		// })
	</script>

</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="https://s2.ax1x.com/2019/10/14/Kpn6ZF.jpg">
						<!-- <img src="/static/image/login.jpg"> -->
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">忘记密码</h4>
							<form class="my-login-validation" id="forgot_form" onsubmit="return ForgotJs.checkForm();">

								<div class="form-group">
									<label for="username">请输入用户名</label>
									<input id="username" class="form-control" name="username" required="required">
								</div>

								<div class="form-group">
									<label for="email">请输入用户的邮箱</label>
									<input id="email" type="email" class="form-control" name="email"
										required="required">
									<div class="form-text co5">点击“重置密码”，我们将发送一个密码重置链接到你的邮箱中！</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" id="submit" class="btn btn-danger btn-block">重置密码</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">Copyright &copy; 2019 &mdash; 恐怖公社</div>
				</div>
			</div>
		</div>
	</section>



</body>



</html>
{{end}}