{{define "admin/login.html"}}
<!DOCTYPE html>
<html>

<head>
	<meta name="robots" content="noindex, nofollow">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>登录 - 恐怖公社</title>
	{{template "AdminHeaderJs" .}}
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="https://s2.ax1x.com/2019/10/14/Kpn6ZF.jpg">
						<!-- <img src="/static/image/login.jpg"> -->
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">登录</h4>
							<!-- novalidate="" 这句话验证是否检测是空 -->
							<form class="my-login-validation" id="login_form" onsubmit="return LoginJs.checkForm();">
								<div class="form-group">
									<label for="username">用户名</label>
									<input id="username" class="form-control" name="username" required="required">
								</div>

								<div class="form-group">
									<label for="password">密码<a href="/user/forgot.html"
											class="float-right">忘记密码?</a></label>
									<input id="password" type="password" class="form-control" name="password"
										required="required">
								</div>

								<div class="form-group">
									<label for="verifycode">验证码</label>

									<div class="d-flex">
										<input id="verifycode" name="verifycode" class="form-control mr-3">
										<img id="verifyimg" src="{{.verifyCode}}" width="100px" height="38px" />
									</div>

								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" id="remember" name="remember"
											class="custom-control-input">
										<label for="remember" class="custom-control-label ">记住我</label>
									</div>
								</div>


								<div class="form-group m-0">
									<button type="submit" class="btn btn-danger btn-block">登录</button>
								</div>
								<div class="mt-4 text-center">没有账户? <a href="/user/signup.html">注册一个</a></div>
								<input id="usertext" name="usertext" type="hidden">
								<input id="passtext" name="passtext" type="hidden">
								<input id="verifyid" name="verifyid" type="hidden" value="{{.verifyId}}">
							</form>
						</div>
					</div>
					<div class="footer">Copyright &copy; 2019 &mdash; 恐怖公社</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		SetJs(domArr, $("#cryptojs").attr("src"), function () {
			SetJs(domArr2, $("#loginjs").attr("src"), function () {
				LoginJs.init()
			})
		})
	</script>
</body>


</html>
{{end}}