{{define "admin/signup.html"}}
<!DOCTYPE html>
<html>

<head>
	<meta name="robots" content="noindex, nofollow">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>注册 - 恐怖公社</title>
	{{template "AdminHeaderJs" .}}
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="https://s2.ax1x.com/2019/10/14/Kpn6ZF.jpg">
						<!-- <img src="/static/image/login.jpg" alt="logo" /> -->
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">注册</h4>
							<form id="signup_form" onsubmit="return SignUpJs.checkForm();">
								<div class="form-group">
									<label for="username">用户名</label>
									<input id="username" class="form-control" required autofocus />
								</div>

								<div class="form-group">
									<label for="email">邮箱</label>
									<input id="email" type="email" class="form-control" name="email"
										placeholder="取回密码的邮箱" required autofocus />
								</div>

								<div class="form-group">
									<label for="nickname">呢称</label>
									<input id="nickname" class="form-control" name="nickname" required autofocus />
								</div>

								<div class="form-group">
									<label for="password">输入密码</label>
									<input id="password" type="password" class="form-control" required data-eye />
								</div>

								<div class="form-group">
									<label for="password2">确认密码 </label>
									<input id="password2" type="password" class="form-control" required data-eye />
								</div>

								<div class="form-group">
									<label for="verifycode">验证码</label>
									<div class="d-flex">
										<input id="verifycode" name="verifycode" class="form-control mr-3">
										<img id="verifyimg" src="{{.verifyCode}}" width="100px" height="38px" />
									</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember"
											class="custom-control-input" />
										<label for="remember" class="custom-control-label">记住我</label>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-danger btn-block">注册</button>
								</div>



						</div>
						<div class="mt-4 text-center">已有账户? <a href="/user/login.html">登录</a></div>
						<input id="usertext" name="usertext" type="hidden">
						<input id="passtext" name="passtext" type="hidden">
						<input id="verifyid" name="verifyid" type="hidden" value="{{.verifyId}}">
						</form>
					</div>
				</div>
				<div class="footer">Copyright &copy; 2019 &mdash; 恐怖公社</div>
			</div>
		</div>
		</div>
	</section>
</body>

<script>
	SetJs(domArr, $("#cryptojs").attr("src"), function () {
		SetJs(domArr2, $("#loginjs").attr("src"), function () {
			SignUpJs.init()
		})
	})
</script>

</html>
{{end}}