{{define "comm/comment_laster.html"}}
<div class="">
  <div class="comment-top">
    <span></span>
    <p>最新评论</p>
  </div>
  <div class="commetnt-widget">
    <ul>
      {{range .CommList}}
      <li>
        <div class="row ml-0 mr-0">
          <div class="message-avatar">
            <img src="{{.avater}}" class="avatar avatar-48 photo" height="60" width="60">
          </div>
          <div class="col pl-2 pr-2 comment-pl">
            <span>
              {{if .userid }}
              <a href="/author?id={{.userid}}">{{.nickname}}</a>
              {{else}}
              <a href="javascript:void(0);">{{.nickname}}</a>
              {{end}}
            </span>在《<a href="/article?id={{.article_id}}">{{.article_title}}</a>》中说：<a
              href="/article?id={{.article_id}}">{{.content}}</a>
          </div>


        </div>
      </li>
      {{end}}
    </ul>
  </div>
  <a href="/user/commlist" style="text-decoration: none;"><button type="button" class="btn btn-danger btn-block"
      id="in_more">查看更多最新评论</button></a>
</div>
{{end}}