{{define "comm/comment_vote.html"}}
<li>

    <div class="">
      <!-- align-items-center -->
      <div class="row m-0">
        <a target="_blank" href="">
          <img class="rounded-circle" width="40" src="{$$avater$$}">
        </a>
        <div class="col">
          <span class="vot_nick">{$$nickname$$}</span>
          <span class="{$$machine$$}"></span>
          <div class="vot_msg w-100">
              <span class="vot_lv">Lv.34</span><span>{$$time$$}</span>
          </div>
        </div>
        <div>
            <span class="vot_zan"><i class="fa fa-thumbs-up"></i> {$$zan$$}</span>
          <span class="vot_reply mr-1 {$$typecss$$}" >{$$type$$}</span>
          <!-- <span class="vot_zan">{$$floor$$}楼</span> -->
        </br>
      
        </div>
      </div>
  
      <div class="vot_tv">{$$content$$}</div>
      
      <!-- {$$comm$$} -->
    </div>
  </li>
  {{end}}