<ul class="comm_children">
  <li>
    <div>
      <div class="row m-0">
        <a href="{$$link$$}">
          <img class="rounded-circle" width="40" src="{$$avater$$}">
        </a>
        <div class="col">
          <a href="{$$link$$}"><span>{$$nickname$$}</span></a>
          <span class="{$$machine$$}"></span>
          <div class="comm_msg">
              <span class="comm_lv" data-val="{$$ex$$}">Lv.34</span>
            <span>{$$time$$}</span>
          </div>
        </div>
        <div>
          <span class="comm_zan" data-id="{$$id$$}" ><i class="fa fa-thumbs-up"></i>&nbsp;<span id="zan_sp">{$$zan$$}</span></span>
          <span class="comm_reply mr-1" data-relation="{$$relationship$$}" data-id="{$$id$$}" data-usr="{$$userid$$}">回复</span>
        </div>
      </div>
      <div class="comm_tv">{$$content$$}</div>
      {$$comm$$}
    </div>

  </li>
</ul>
